h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.main-mailbox-body {
    min-height: 100vh;
    padding: 1rem;
    background: rgb(253, 89, 171);
}

.mailbox-owner-address {
    color: white;
}

.mailbox-btn, .mailbox-compose-btn {
    margin-right: .5em;
}

.mailbox-btn, .mailbox-compose-btn, .mailbox-logout-btn, .compose-mail-submit-btn {
    background: white !important;
    color: rgb(255, 23, 139) !important;
    border: none !important;
    box-shadow: none !important;
}

.mailbox-btn:hover, .mailbox-compose-btn:hover, .mailbox-logout-btn:hover, .compose-mail-submit-btn:hover {
    background: rgb(255, 23, 139) !important;
    color: white !important;
}

.mailbox-seperator {
    background: white;
}

.mailbox-name, .mail-content, .mail-timestamp, .mail-icons {
    color: white;
}

.mail {
    text-decoration: none !important;
    border-bottom: 1px solid white;
    animation-name: remove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

/* .mail-link {
    cursor: pointer;
    animation-name: remove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
} */

.mail:first-child {
    border-top: 1px solid white;
}

.mail:hover {
    background: rgb(255, 23, 139);
}

.mail-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subject {
    font-weight: bold;
}

/* .mail-timestamp {
    display: none;
} */

/* .mail-timestamp.hide {
    display: none;
} */

.mail-icons {
    display: none;
    /* color: white; */
}

.mail-icon:hover, .single-mail-icon-icon:hover {
    color: white !important;
    cursor: pointer;
    transform: scale(1.25);
}

.mail-icon, .single-mail-icon-icon {
    padding: 5px;
}

.mail-icon.hide {
    display: none;
}

.compose-mail-sender, .compose-mail-receipients, .compose-mail-subject, .compose-mail-body {
    border: none !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    color: white !important;
}

.compose-mail-sender::placeholder, 
.compose-mail-receipients::placeholder, 
.compose-mail-subject::placeholder, 
.compose-mail-body::placeholder {
    color: white !important;
}

.compose-mail-sender {
    background: rgb(255, 23, 139) !important;
}

.compose-mail-receipients, .compose-mail-subject, .compose-mail-body {
    background: rgb(253, 69, 161) !important;
}

.compose-mail-heading, .compose-mail-sender-container, .compose-mail-receipients-container {
    color: white;
}

.single-mail-subject-reply {
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 10px;
    margin-bottom: 25px;
}

.single-mail-icon {
    display: inline-flex;
    padding: 5px;
}

.single-mail-icon-icon {
    font-size: 30px !important;
}

.commands {
    border-bottom: 1px solid white;
}

.single-mail-meta {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.single-mail-subject-reply, 
.single-mail-sender, 
.single-mail-recipients, 
.single-mail-timestamp, 
.single-mail-icon-icon {
    color: white;
}

.single-mail-main-body {
    background: rgb(255, 23, 139);
    padding: 1rem 45% 1rem 1rem;
    margin: 0;
}

.single-mail-main-body-content {
    color: white;
    margin: 0px;
}

#spinner {
    display: none;
    padding: 1.7%;
    position: relative;
    left: 45%;
    top: 80px;
}

@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
        /* line-height: 100%; */
        padding: .25rem .5rem;
        margin-bottom: 0px;
    }
    75% {
        opacity: 0;
        height: 100%;
        /* line-height: 100%; */
        padding: .25rem .5rem;
        margin-bottom: 0px;
    }
    100% {
        opacity: 0;
        height: 0px;
        /* line-height: 0px; */
        padding: 0px;
        margin-bottom: 0px;
    }
}