.main-mailbox-body {
    min-height: 100vh;
    padding: 1rem;
    background: rgb(253, 89, 171);
}

.mailbox-owner-address {
    color: white;
}

.mailbox-btn, .mailbox-compose-btn, .mailbox-logout-btn {
    background: white !important;
    color: rgb(255, 23, 139) !important;
    border: none !important;
    box-shadow: none !important;
}

.mailbox-btn:hover, .mailbox-compose-btn:hover, .mailbox-logout-btn:hover {
    background: rgb(255, 23, 139) !important;
    color: white !important;
}













/* .mobile-mailbox-container {
    padding: 0;
}

.mobile-mailbox-mail-container {
    padding: .5em 1em;
}

.mobile-mailbox-sender-timestamp-container,
.mobile-mailbox-heading-body-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-mailbox-sender,
.mobile-mailbox-heading,
.mobile-mailbox-body {
    margin: 0;
}

.mobile-mailbox-sender {
    font-size: 2rem;
}

.mobile-mailbox-heading {
    font-size: 1.5rem;
}

.mobile-mailbox-body,
.mobile-mailbox-timestamp {
    font-size: 1.25rem;
}

.mobile-mailbox-sender-initial-container {
    background: blue;
    padding: .75em 0;
    border-radius: 50%;
}

.mobile-mailbox-send-initial {
    margin: 0 .85em;
    font-size: 1.75em;
    color: white;
} */